entrypoint = "main.py"
modules = ["python-3.11", "java-graalvm22.3"]

[nix]
channel = "stable-25_05"

[unitTest]
language = "python3"

[gitHubImport]
requiredFiles = [".replit", "replit.nix"]

[deployment]
run = ["python3", "main.py"]
deploymentTarget = "cloudrun"

[agent]
expertMode = true

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Floatify Info"

[[workflows.workflow]]
name = "Floatify Info"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "bash show_info.sh"

[workflows.workflow.metadata]
outputType = "console"

[userenv]

[userenv.shared]
